:root {
    --primary-color: #181817;
    --secondary-color: #6E6E6E;
    --accent-color: #F6D88C;
    --primary-background: #F8F3EC;
    --secondary-background: #E5E5E5;
    --main-font: "Darker Grotesque", sans-serif;
}
/* *{
    box-sizing: border-box;
}  */
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    color: var(--primary-color);
    background-color: var(--primary-background);

    font-family: var(--main-font);
    font-weight: 600;
}

/* Header */
.header {
    display: flex;
    width: 1440px;
    align-items: center;
    margin: 0 auto;
    padding: 30px 80px 26px 80px;
    border-bottom: 2px solid rgba(110, 110, 110, 0.3);
}
.nav {
    margin-right: 320px;
}
.nav-list {
    display: flex;
}
.nav-item {
    margin-right: 40px;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 22px;
    line-height: 1.36;
}
.nav-link:hover,
.nav-link:focus {
    text-decoration-line: underline;
}
.logo {
    color: var(--primary-color);

    font-weight: 700;
    font-size: 40px;
    line-height: 1.35;

    margin-right: 502px;
}
.logo-dot {
    color: var(--accent-color);
}
.logo:hover,
.logo:focus {
    text-shadow: 2px 0 2px var(--accent-color);
}
.social {
    width: 168px;
}
.social-link {
    margin-right: 18px;
}
.social-link:last-child {
    margin-right: 0;
}

/* main */

/* hero */
.content {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hero {
    background-color: #F8F3EC;
}
.hero-title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 82px;
    line-height: 71px;
    color: var(--primary-color);

    margin-top: 0;
    margin-bottom: 20px;
    width: 500px;
}
.hero-text {
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-weight: 500;
    font-size: var(--text-size);

    margin-top: 0;
    margin-bottom: 40px;
    width: 370px;
}
.hero-btn {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: var(--text-size);
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: none;
    padding: 20px 36px;
    border-radius: 16px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: tomato;
}
.hero-img {
    width: 268px;
    height: 653px;
}
.hero-img:first-child {
    margin-right: 14px;
}
.hero-container {
    font-size: 0;
}
.hero-left-side {
    margin-right: 96px;
}
.hero-right-side {
    padding: 63px 0 54px;
}

/* clients */
.clients-left-side {
    margin-right: 105px;
    width: 350px;
    display: flex;
    align-items: center;
}
.clients-left-side::before {
    width: 5px;
    height: 146px;
    background-color: var(--accent-color);
    content: "";
    display: inline-block;
    margin-right: 30px;
}
.clients-right-side {
    padding-top: 140px;
    padding-bottom: 160px;
    display: flex;
    flex-wrap: wrap;
    width: 695px;
}
.clients-title {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 600;
    width: 314px;
    margin-top: 0;
    margin-bottom: 10px;
}
.clients-text {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: var(--text-size);
    color: var(--secondary-color);
    width: 295px;
}
.clients-img {
    width: 224px;
    height: 91px;
    margin-right: 11px;
    margin-bottom: 11px;
}
.clients-img:nth-child(3n+3) {
    margin-right: 0;
}
