:root {
    --primary-color: #181817;
    --secondary-color: #6E6E6E;
    --accent-color: #F6D88C;
    --primary-background: #F8F3EC;
    --white-color: #FFFFFF;
    --main-font: "Darker Grotesque", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    color: var(--primary-color);
    background-color: var(--primary-background);
    
    font-family: var(--main-font);
}

/* Header */
.header {
    display: flex;
    width: 1440px;
    align-items: center;
    margin: 0 auto;
    padding: 30px 80px 26px 80px;
    border-bottom: 2px solid rgba(110, 110, 110, 0.3);
}
.nav { 
    margin-right: 320px;
}
.nav-list {
    display: flex;
}
.nav-item {
    margin-right: 40px;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 22px;
    line-height: 1.36;
}
.nav-link:hover,
.nav-link:focus {
    text-decoration-line: underline;
}
.logo {
    color: var(--primary-color);

    font-weight: 700;
    font-size: 40px;
    line-height: 1.35;

    margin-right: 502px;
}
.logo-dot {
    color: var(--accent-color);
}
.logo:hover,
.logo:focus {
    text-decoration-line: underline;
}
.social {
    width: 168px;
}
.social-link {
    margin-right: 18px;
}
.social-link:last-child {
    margin-right: 0;
}

/* MAIN */

/* Hero */
.hero-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 0;
}
.hero-left-side {
    width: 490px;
    margin-right: 100px;
}
.hero-title {
    font-weight: 600;
    font-size: 82px;
    line-height: 0.86;

    margin-top: 0;
    margin-bottom: 20px;
}
.hero-text {
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 22px;
    line-height: 1.36;

    width: 370px;
    margin-top: 0;
    margin-bottom: 40px;
}
.hero-btn {
    color: var(--primary-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 23px;
    line-height: 1.34;
    text-transform: uppercase;

    border: none;
    border-radius: 16px;
    padding: 20px 36px;
}
.hero-btn:hover,
.hero-btn:focus {
    text-decoration-line: underline;
}
.hero-right-side {
    width: 590px;
    padding: 64px 0 54px 0;
}
.hero-img:first-child {
    margin-right: 14px;
}

/* Clients */
.clients{
    background-color: var(--white-color);
}
.clients-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 0;
}
.clients-left-side {
    width: 350px;
    display: flex;
    align-items: center;
    margin-right: 105px;
    margin-bottom: 40px;
}
.clients-left-side::before {
    width: 5px;
    height: 146px;
    background-color: var(--accent-color);
    content: "";
    display: inline-block;
    margin-right: 30px;
}
.clients-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 35px;

    width: 314px;
    margin-top: 0;
    margin-bottom: 10px;
}
.clients-text {
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    width: 295px;
}
.clients-right-side {
    width: 695px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 160px;
}
.clients-img {
    margin-right: 11px;
    margin-bottom: 11px;
}
.clients-img:nth-child(3n+3) {
    margin-right: 0;
}